# Backend
SECRET_KEY=your-django-secret-key-here
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Database (SQLite by default, switch to PostgreSQL for production)
# DATABASE_URL=postgresql://user:pass@localhost:5432/stiltime

# Redis (for Celery & Channels)
REDIS_URL=redis://localhost:6379/0

# JWT
JWT_ACCESS_TOKEN_LIFETIME_DAYS=1
JWT_REFRESH_TOKEN_LIFETIME_DAYS=30

# OTP
OTP_EXPIRY_MINUTES=5
OTP_MAX_ATTEMPTS=3
OTP_LENGTH=6

# Eskiz SMS (production)
ESKIZ_EMAIL=your@email.com
ESKIZ_PASSWORD=your-eskiz-password

# Firebase FCM (push notifications)
FIREBASE_CREDENTIALS_PATH=firebase-credentials.json

# Telegram Bot
TELEGRAM_BOT_TOKEN=8841494310:AAF_ribBMGi9y0Q0mSr87qByZFW_DlRfH0g
TELEGRAM_WEBHOOK_URL=https://your-domain.com/webhook

# Admin Panel
VITE_API_URL=http://localhost:8000/api/v1
